mat-card {
	margin: 0 auto;
}

.wrapper {
	padding: 18px;
	width: 100%;
	display: flex;
	flex-direction: column;
	&-cart-item-card {
		margin-top: 6px;
		width: 100%;
		&-inner-item {
			font-size: 10px;
			> div {
				padding: 18px;
			}
			display: flex;
			flex-direction: column;
			.duration-in-days {
				margin-top: 12px;
			}
		}
	}
}
.wrapper > div {
	flex: 1;
}

@media (max-width: 769px) {
	.wrapper {
		display: block;
	}
}

.rent-submit {
	width: 100%;
}
