.wrapper {
	padding: 12px;
	width: 100%;
	display: flex;
	flex-direction: column;
	&-order-item-card {
		margin-top: 6px;
		width: 100%;
		&-inner-item {
			display: flex;
			flex-direction: row;
		}
	}
}
.wrapper > div {
	flex: 1;
}

@media (max-width: 769px) {
	.wrapper {
		display: block;
	}
}
