<div class="wrapper">
	<div class="wrapper-equipment" *ngFor="let equipment of equipments$ | async">
		<mat-card class="equipment-card">
			<mat-card-content>
				<p class="equipment-name">{{ equipment.name }}</p>
				<mat-chip-list>
					<mat-chip>{{ equipment.type }}</mat-chip>
				</mat-chip-list>
			</mat-card-content>
			<mat-card-actions>
				<div class="add-to-cart">
					<span></span>
					<button mat-raised-button color="accent" (click)="AddItemToCart(equipment)">
						<mat-icon>add_shopping_cart</mat-icon>
					</button>
				</div>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
