@import "shared-vars.scss";

.wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	&-equipment {
		min-width: 50%;
	}
}
.wrapper > div {
	padding: 12px;
	flex: 1;
}

@media (max-width: 769px) {
	.wrapper {
		display: block;
	}
}

.equipment-name {
	font-weight: bold;
}

.mat-standard-chip {
	margin: 0 !important;
	font-size: 10px;
}

.add-to-cart {
	display: flex;
	> span {
		flex-grow: 1;
	}
}
