@import "~@angular/material/theming";
@import "shared-vars.scss";
@import "~@angular/cdk/overlay-prebuilt.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

// angular material
@include mat-core($mat-app-typography);
@include mat-core-theme($mat-app-theme);
@include mat-tabs-theme($mat-app-theme);
@include mat-button-theme($mat-app-theme);
@include mat-divider-theme($mat-app-theme);
@include mat-toolbar-theme($mat-app-theme);
@include mat-badge-theme($mat-app-theme);
@include mat-progress-spinner-theme($mat-app-theme);
@include mat-card-theme($mat-app-theme);
@include mat-dialog-theme($mat-app-theme);
@include mat-radio-theme($mat-app-theme);
@include mat-snack-bar-theme($mat-app-theme);
@include mat-select-theme($mat-app-theme);
@include mat-checkbox-theme($mat-app-theme);
@include mat-form-field-theme($mat-app-theme);
@include mat-menu-theme($mat-app-theme);
@include mat-list-theme($mat-app-theme);
@include mat-input-theme($mat-app-theme);
@include mat-slide-toggle-theme($mat-app-theme);
@include mat-chips-theme($mat-app-theme);
@include mat-datepicker-theme($mat-app-theme);
@include mat-table-theme($mat-app-theme);
@include mat-sidenav-theme($mat-app-theme);
@include mat-slider-theme($mat-app-theme);
@include mat-progress-bar-theme($mat-app-theme);

*,
*::before,
*::after {
	-webkit-touch-callout: default !important;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
